.Avatar {
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5;
  color: 88ee8e;
  a {
    text-decoration: none;
    position: relative;
  }
}

.Avatar_list {
  border: 1px solid #dbdbdb;
  width: 420px;
  height: 225px;
  padding: 100px;
  list-style: none;
  text-align: center;
  /* li {
    float: left;
    margin: 11px;
  } */
}

li {
  display: inline-block;
  margin: 9px;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.circle-on {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4cfe88;
  border: 1px solid white;
  position: absolute;
  margin-left: 48px;
  top: 236px;
}
.circle-off {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
  border: 1px solid white;
  position: absolute;
  margin-left: 48px;
  top: 236px;
}

.circle-on1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4cfe88;
  border: 1px solid white;
  position: absolute;
  margin-left: 48px;
  top: 322px;
}
.circle-off1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dbdbdb;
  border: 1px solid white;
  position: absolute;
  margin-left: 48px;
  top: 322px;
}
